# Filesystem
CONFIG_FS_LITTLEFS=y
CONFIG_LITTLEFS_MOUNT_PATH="/littlefs"

# Logging
CONFIG_LOG_DEFAULT_LEVEL=3

# WiFi (can grow later)
CONFIG_ESP_WIFI_ENABLED=y

# C++ (important!)
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_RTTI=y
