###########################################################################
# Diagnostic console - UART0
###########################################################################
CONFIG_FN_CONSOLE_ENABLE=y
CONFIG_FN_CONSOLE_TRANSPORT_UART0=y


