###########################################################################
# Diagnostic console - disabled
###########################################################################
CONFIG_FN_CONSOLE_ENABLE=n


