###########################################################################
# Filesystem
###########################################################################
CONFIG_FS_LITTLEFS=y
#CONFIG_LITTLEFS_MOUNT_PATH="/littlefs"
CONFIG_ESP32_ENABLE_COREDUMP_TO_NONE=y