###########################################################################
# Diagnostic console - USB CDC port index
###########################################################################
CONFIG_FN_CONSOLE_USB_CDC_PORT=1


