###########################################################################
# FATFS
###########################################################################

# Enable Long File Name support
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=128

# Use UTF-8 filenames
CONFIG_FATFS_API_ENCODING_UTF_8=y
