###########################################################################
## Some optimizations from FN to review
###########################################################################
#CONFIG_FREERTOS_HZ=1000
#CONFIG_RTC_CLK_SRC_INT_RC=y
#CONFIG_RTC_CLK_CAL_CYCLES=0
#CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
#CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
#CONFIG_COMPILER_OPTIMIZATION_PERF=y
#CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y


# -----------------------------------------------------------------------------
# TESTING AND NOTES BELOW HERE - DO NOT ENABLE ANY OF THESE, COPY THEM TO ABOVE
# -----------------------------------------------------------------------------

# SPIRAM ALL ENTRIES from FN
#CONFIG_SOC_SPIRAM_SUPPORTED=y
#CONFIG_SOC_SPIRAM_XIP_SUPPORTED=y
#CONFIG_BT_ALLOCATION_FROM_SPIRAM_FIRST=y
#CONFIG_SPIRAM=y
#CONFIG_SPIRAM_MODE_OCT=y
#CONFIG_SPIRAM_TYPE_AUTO=y
#CONFIG_SPIRAM_CLK_IO=30
#CONFIG_SPIRAM_CS_IO=26
#CONFIG_SPIRAM_SPEED_80M=y
#CONFIG_SPIRAM_SPEED=80
#CONFIG_SPIRAM_BOOT_INIT=y
#CONFIG_SPIRAM_USE_MALLOC=y
#CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=32768
#CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
#CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=32768
#CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
#CONFIG_STDATOMIC_S32C1I_SPIRAM_WORKAROUND=y
#CONFIG_ESP32S3_SPIRAM_SUPPORT=y

## Some optimizations from FN to review
#CONFIG_FREERTOS_HZ=1000
#CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
#CONFIG_BOOTLOADER_LOG_LEVEL=0
#CONFIG_RTC_CLK_SRC_INT_RC=y
#CONFIG_RTC_CLK_CAL_CYCLES=0
#CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
#CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
#CONFIG_COMPILER_OPTIMIZATION_PERF=y
